.board {
  float: right;
  border: 2px solid black;
  width: 292px;
  height: 292px;
}

.code-rows {
  float: left;
}

.board-cell {
  float: left;
  width: 36px;
  height: 36px;
  text-align: center;
  font-size: 1.5em;
}

.board-cell-black {
  background-color: black;
  color: white;
}

.board-cell-white {
  background-color: white;
  color: black;
}

.code-col {
  float: left;
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 0.5em;
  font-size: 1em;
}

.code-rows {
  height: 292px;
  text-align: center;
  font-size: 1em;
}

.code-row {
  width: 36px;
  height: 36px;
  text-align: center;
  padding: 0.5em;
  font-size: 1em;
}

.console {
  margin-top: 12px;
  max-width: 280px;
  height: 320px;
  border-radius: 6px;
}
