<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>UniChess</title>
  {% endblock head %}

  {% block extra_css %} {% endblock extra_css %}
  <!-- the below three lines are a fix to get HTML5 semantic elements working in old versions of Internet Explorer-->
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  {% block nav %}
  {% endblock nav %}

  <section>
    <div class="container">
      {% block main %} {% endblock main %}
    </div>
  </section>

  {% block footer %}
    <footer>
      <div>
        <p>
          Copyright bla, bla, bla.
        </p>
      </div>
    </footer>
  {% endblock footer %}
</body>
</html>
