{% extends "base.html" %}

{% block main %}

  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          UniChess
        </h1>
        <h2 class="subtitle">
          Tabuleiro de Xadrez da Univesp
        </h2>
      </div>
    </div>
  </section>

  <section class="section chessboard">
    <div class="container">
      <div class="columns is-centered">

        <div class="column is-narrow">

          <div class="code-rows">
            {%- for i in range(8) -%}
            <div class="code-row">
              {{ 8 - i }}
            </div>
            {% endfor %}
          </div>

          <div class="board">

            {% for i in range(8) -%}
            <div class="board-row">

              {% for j in range(8) -%}

              <div class="board-cell {{ colors[i][j] }}">
                {% if board[i][j] is not none %}
                  {{ board[i][j] }}
                {% endif %}
              </div><!-- End column -->

              {% endfor %}

            </div><!-- End row -->
            {% endfor %}

          </div><!-- End board -->

          <div class="code-cols">
            {%- for i in range(9) -%}
            <div class="code-col">
              {{ code_col[i] }}
            </div>
            {% endfor %}
          </div>

        </div><!-- End column -->

        <div class="column has-background-dark has-text-light console">
        </div>

      </div>
    </div>
  </section>


{% endblock main %}
