{% extends "base.html" %}

{% block main %}

  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          UniChess
        </h1>
        <h2 class="subtitle">
          Tabuleiro de Xadrez da Univesp
        </h2>
      </div>
    </div>
  </section>

  <section class="section chessboard">
    <div class="container">
      <div class="columns is-centered">

        <div class="column">
          <div class="board">
            {% for i in range(8) -%}
            <div class="board-row">
              {%- for j in range(8) -%}
              <div class="board-cell {{ color[i][j] }}">
                {% if cell[i][j] is not none %}
                  {{ cell[i][j] }}
                {% endif %}
              </div>
              {% endfor %}
            </div>
            {% endfor %}
            </div>
          </div>
          <div class="column has-background-dark has-text-light console">
          </div>

      </div>
    </div>
  </section>


{% endblock main %}
