{% extends "base.html" %}

{% block main %}

  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          UniChess
        </h1>
        <h2 class="subtitle">
          Tabuleiro de Xadrez da Univesp
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="chessboard">

      {% for i in range(8) -%}
      <div class="columns">
        {%- for j in range(8) -%}
        <div class="column is-narrow {{ color[i][j] }}">
          <div class="cell"
            style="width: 36px; height: 36px; text-align: center; font-size: 1.5em">
          {{ cell[i][j] }}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}

      </div>
    </div>
  </section>

{% endblock main %}
