<!DOCTYPE html>
<html>
<head>

  {% block head %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>

  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

  {% block extra_css %} {% endblock extra_css %}

  <!-- the below three lines are a fix to get HTML5 semantic elements working in old versions of Internet Explorer-->
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  {% endblock head %}

</head>

<body>

  <div class="hero is-fullheight">

  {% block nav %}
    {% include "nav.html" %}
  {% endblock nav %}

  {% block hero %} {% endblock hero %}
  {% block main %} {% endblock main %}

  {% block footer %}
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
      <strong>UniChess</strong> by <a
        href="https://github.com/aledruetta/UniChess">Alejandro Druetta</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
    </div>
  </footer>
  {% endblock footer %}

  </div>

  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
