{% extends "base.html" %}

{% block hero %} {% endblock hero %}

{% block main %}

<section class="section chessboard">
  <div class="container">
    <div class="columns is-centered">

      <div class="column is-half">

        <div id="user-color">
          {{ board.color }}
        </div>
        <div>
          {{ board.svg | safe }}
        </div>

        <div>
          <form role="form" action="" method="POST">
            {{ move_form.csrf_token }}

            <div class="field has-addons">
              <div class="control is-expanded">
                {{ move_form.movement(placeholder="Próxima jogada", class="input is-medium", type="text") }}
              </div>
              <div class="control">
                <button class="button is-medium is-dark" type="submit">
                  Mover
                </button>
              </div>
            </div>

          </form>
        </div>

      </div>

      <!-- <div class="column is-half"></div> -->

    </div>
  </div>
</section>

{% if modal %}

  <form id="modal-form" role="form" action="" method="POST">
  {{ modal_form.csrf_token }}

  <div class="modal is-active">
    <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Iniciar uma partida</p>
        </header>
        <section class="modal-card-body">

          {% if board.id %}

          <p>
            Copie o código e envie para o seu opoente:
            <strong id="random-id-create">
              {{ board.id }}
            </strong>.
          </p>
          <br />
          <p>
            <strong>Importante:</strong> Você apenas poderá criar uma partida por vez.
            Para criar uma outra partida, antes devera concluir a atual. As partidas
            duram até no máximo 30 minutos.
          </p>

          {% else %}

          <p>
            Cole o código enviado pelo seu opoente:
            {{
              modal_form.random_id(
                id="random-id-join",
                placeholder="Código",
                class="input is-medium",
                type="text"
              )
            }}
          </p>

          {% endif %}

        </section>
        <footer class="modal-card-foot">

						<div class="field is-grouped">
							<div class="control">
								{{
                  modal_form.submit(
                    id="modal-submit",
                    class="button is-link is-success",
                    type="submit",
                    value="Pronto!"
                  )
                }}
							</div>

							<div class="control">
								{{
                  modal_form.cancel(
                    id="modal-cancel",
                    class="button is-link is-success is-light",
                    type="submit",
                    value="Cancelar"
                  )
                }}
							</div>
						</div>

        </footer>
      </div>
  </div>

  </form>

{% endif %}

{% endblock main %}
