{% extends "base.html" %}

{% block hero %}
  {% include "hero.html" %}
{% endblock hero %}

{% block main %}

  <section class="section chessboard">
    <div class="container">
      <div class="columns is-centered">

        <div class="column is-half">

          <div>
            {{ board | safe }}
          </div>

          <form role="form" action="" method="GET">

            <div class="field">
              <div class="control">
                {{
                  form.create_game(
                    class="button is-danger is-outlined is-rounded is-medium is-fullwidth",
                    type="submit",
                    value="Criar Partida",
                  )
                }}
              </div>
            </div>

            <div class="field">
              <div class="control">
                {{
                  form.join_game(
                    class="button is-success is-outlined is-rounded is-medium is-fullwidth",
                    type="submit",
                    value="Participar",
                  )
                }}
              </div>
            </div>

          </form>

        </div>

      </div>
    </div>
  </section>

{% endblock main %}
