{% extends "base.html" %}

{% block hero %} {% endblock hero %}

{% block main %}

  <div class="columns is-centered">
    <div class="column is-one-third">

      <div class="panel is-primary login-panel">
        <p class="panel-heading">
          Sign up
        </p>

        <div class="login-panel-form">
          <form>

            <div class="field">
              <label class="label">Username</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-success is-medium" type="text" placeholder="Text input" value="UniChess">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </div>
              <p class="help is-success">This username is available</p>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-danger is-medium" type="email" placeholder="Email input" value="hello@">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </div>
              <p class="help is-danger">This email is invalid</p>
            </div>

            <div class="field">
              <p class="control has-icons-left">
                <input class="input is-medium" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </p>
            </div>

            <div class="field">
              <p class="control">
                <button class="button is-primary is-medium">
                  Login
                </button>
              </p>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div>

{% endblock main %}
